<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class=" social-media">
            <li>
              <div>
                <i class="fab fa-twitter fa-2x"></i>
                <p>Twitter</p>
              </div>
            </li>
            <li>
              <div>
                <i class="fab fa-instagram fa-2x"></i>
                <p>Instagram</p>
              </div>
            </li>
            <li>
              <div>
                <i class="fab fa-facebook-f fa-2x"></i>
                <p>Facebook</p>
              </div>
            </li>
          </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        Column 1
      </div>
      <div class="col-md-4 col-sm-12">
        Column 2
      </div>
      <div class="col-md-4 col-sm-12">
        Column 3
      </div>
    </div>
    <div class="row terms">
      <div class="col">
        Terms and condition, Copyright 2019
      </div>
    </div>
  </div>
</footer>
