@import '../../styles.scss';

footer {
  background-color: $primary-blue;
  color: $secondary-grey;
  font-size: 0.8em;
  margin-top: 3em;
  padding: 3em 0;
  .row {
    &:not(:last-child) {
      margin-bottom: 2em;
    }
    &:not(:first-child) {
      border-top: 1px solid $secondary-grey;
      padding-top: 2em;
    }
  }
  .social-media {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    li {
      display: inline;
      margin-right: 2em;
      div {
        display: inline-flex;
        p {
          font-size: 1em;
          padding-left: 0.5em;
        }
      }
    }
  }
}
