.blog-title {
  margin-bottom: 1em;
  h1 {
    text-align: center;
  }
}

.blog-image {
  margin-bottom: 1em;
  img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }
}

mat-spinner {
  margin: 0 auto;
}
