/* You can add global styles to this file, and also import other style files */

// Colours
$primary_grey: #71716f;
$primary_yellow: #f9ed1f;
$primary_blue: #003049;
$secondary-grey: #BDBDBD;

body {
  margin: 0;
}
